{% extends "../sub_base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block sub_content %}

<form class="account-form" method="post" enctype="multipart/form-data">
    {% if user_form.is_valid and profile_form.is_valid  %}
    <div class="alert alert-primary" role="alert">
        Perubahan Berhasil Disimpan!
    </div>
    <p class="small text-center pt-0">
        <a href="{% url "akun:dashboard" %}">Kembali ke Beranda</a>
    </p>
    {%else%}
    <h3>Ubah Akun</h3>
    <p>Masukan perubahan Kamu:</p>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Gagal: Silahkan Coba Kembali!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
    {{ user_form.email }}
    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
    {{ user_form.first_name }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Save changes">Simpan Perubahan</button>
    <hr class="mb-3">
</form>
<form class="account-form" action="{% url "akun:delete_user" %}" method="post">
    {% csrf_token %}
    <p class=" h3 pt-4 font-weight-bold">Hapus Akun</p>
    <p>Apakah Anda yakin ingin menghapus akun?</p>
    <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Hapus</button>
</form>

{% endblock %}