{% extends "../sub_base.html" %}
{% block title %}Reset your account{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "akun:dashboard" %}';
</script>
{% endif %}

<form class="account-form mx-auto" method="post" action="{% url 'akun:pwdreset' %}">
    <h3 class="mb-4">Forgotten your password?</h3>
    <p>Masukan alamat email untuk mendapatkan sandi baru.</p>
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Gagal, silahkan coba lagi!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small">{{ form.email.label}}</label>
    {{ form.email }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">Kirim Email</button>
    <p class="text-center"><a href="{% url "akun:login" %}">Masuk</a></p>
</form>

{% endblock %}